name: a11y_assessments
description: A new Flutter project
version: 5.0.0+5

environment:
  sdk: ^3.7.0-0

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true